body{
    margin: 0;
}

.container {
    max-width: 960px;
    margin : 0 auto;
}

.bg-img {
    width: 100%;
    /* height: 48.33%; */
    height: 463.968px;
    background: no-repeat center;
    background-size: contain;
}